<!DOCTYPE html>
<html>
	<head>
		<title><%= title[lang] %></title>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<style type="text/css">
		body {
		padding-top: 60px;
		padding-bottom: 40px;
		}
		</style>
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/<%= lang%>">HC2016</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="/"><%= home[lang]%></a></li>
							<% if (!user) { %>
							<li><a href="/<%= lang%>/signin"><%= signin[lang]%></a></li>
							<li><a href="/<%= lang%>/signup"><%= signup[lang]%></a></li>
							<% } else { %>
							<li><a href="/<%= lang%>/signout"><%= signout[lang]%></a></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="container" class="container">
			<% if (success) { %>
			<div class="alert alert-success">
				<%= success %>
			</div>
			<% } %>
			<% if (error) { %>
			<div class="alert alert-error">
				<%= error %>
			</div>
			<% } %>
			<%- body %>
			<hr />
			<footer>
				<p><a href="http://www.huawei.com/cn" target="_blank">Huawei Copyright&copy;</a> 2016</p>
			</footer>
		</div>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/jquery.js"></script>
	</body>
</html>