<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
<link rel="stylesheet" type="text/css" href="/css/manual.css">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <i class="fa fa-adjust"></i>
                    <div class="price-value"><%- m1a%><span class="month"><%= m1object%></span> </div>
                </div>
                <h3 class="heading">精彩内容</h3>
                <div class="pricing-content">
                    <ul>
                        <li>IEEE 802.15.4标准</li>
                        <li>无线通信技术挑战</li>
                        <li>6LoWPAN组网和路由技术</li>
                        <li>应用场景：工商业，住宅，家居，汽车</li>
                        <li>LR-WPAN和LPWAN技术对比</li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/<%= lang%>/manual/6lowpan" target="_blank"><%= seemore%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable green">
                <div class="pricingTable-header">
                    <i class="fa fa-briefcase"></i>
                    <div class="price-value"><%- m2a%><span class="month"><%= m2object%></span> </div>
                </div>
                <h3 class="heading">内容简介</h3>
                <div class="pricing-content">
                    <ul>
                        <li>Huawei LiteOS操作系统</li>
                        <li>6LoWPAN/uIP互联互通组件</li>
                        <li>华为照明物联网技术架构</li>
                        <li>应用场景：xxxx</li>
                        <li>开源与技术合作讲解</li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/<%= lang%>/manual/liteos" target="_blank"><%= seemore%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable blue">
                <div class="pricingTable-header">
                    <i class="fa fa-diamond"></i>
                    <div class="price-value"><%- m3a%><span class="month"><%= m3object%></span> </div>
                </div>
                <h3 class="heading">嵌入式应用开发</h3>
                <div class="pricing-content">
                    <ul>
                        <li>要求具备嵌入式C语言技术背景</li>
                        <li>要求熟练掌握IAR嵌入式开发工具</li>
                        <li>可快速掌握LiteOS网络组件开发方式</li>
                        <li>可体验固件开发与烧录流程</li>
                        <li>实现物联网终端快速入网</li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/<%= lang%>/manual/embedded" target="_blank"><%= challenge%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable red">
                <div class="pricingTable-header">
                    <i class="fa fa-cube"></i>
                    <div class="price-value"><%- m4a%><span class="month"><%= m4object%></span> </div>
                </div>
                <h3 class="heading">Web应用开发</h3>
                <div class="pricing-content">
                    <ul>
                        <li>要求具备HTML/JS语言技术背景</li>
                        <li>要求熟悉Restful API和JSON数据模型</li>
                        <li>可基于AC-IoT开发极具个性的Web应用</li>
                        <li>可体验Web Ajax异步通信开发方式</li>
                        <li>实现物联网终端远程管理</li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/<%= lang%>/manual/webapp" target="_blank"><%= challenge%></a>
                </div>
            </div>
        </div>
    </div>
</div>