<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
<link rel="stylesheet" type="text/css" href="/css/manual.css">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <i class="fa fa-adjust"></i>
                    <div class="price-value"><%- m1a[lang]%><span class="month"><%- m1object[lang]%></span> </div>
                </div>
                <h3 class="heading"><%= m1head[lang]%></h3>
                <div class="pricing-content">
                    <ul>
                        <li><%= m1topic1[lang]%></li>
                        <li><%= m1topic2[lang]%></li>
                        <li><%= m1topic3[lang]%></li>
                        <li><%= m1topic4[lang]%></li>
                        <li><%= m1topic5[lang]%></li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/manual/6lowpan" target="_blank"><%- seemore[lang]%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable green">
                <div class="pricingTable-header">
                    <i class="fa fa-briefcase"></i>
                    <div class="price-value"><%- m2a[lang]%><span class="month"><%- m2object[lang]%></span> </div>
                </div>
                <h3 class="heading"><%= m2head[lang]%></h3>
                <div class="pricing-content">
                    <ul>
                        <li><%= m2topic1[lang]%></li>
                        <li><%= m2topic2[lang]%></li>
                        <li><%= m2topic3[lang]%></li>
                        <li><%= m2topic4[lang]%></li>
                        <li><%= m2topic5[lang]%></li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/manual/liteos" target="_blank"><%- seemore[lang]%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable blue">
                <div class="pricingTable-header">
                    <i class="fa fa-diamond"></i>
                    <div class="price-value"><%- m3a[lang]%><span class="month"><%- m3object[lang]%></span> </div>
                </div>
                <h3 class="heading"><%= m3head[lang]%></h3>
                <div class="pricing-content">
                    <ul>
                        <li><%= m3topic1[lang]%></li>
                        <li><%= m3topic2[lang]%></li>
                        <li><%= m3topic3[lang]%></li>
                        <li><%= m3topic4[lang]%></li>
                        <li><%= m3topic5[lang]%></li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/manual/embedapp" target="_blank"><%- challenge[lang]%></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable red">
                <div class="pricingTable-header">
                    <i class="fa fa-cube"></i>
                    <div class="price-value"><%- m4a[lang]%><span class="month"><%- m4object[lang]%></span> </div>
                </div>
                <h3 class="heading"><%= m4head[lang]%></h3>
                <div class="pricing-content">
                    <ul>
                        <li><%= m4topic1[lang]%></li>
                        <li><%= m4topic2[lang]%></li>
                        <li><%= m4topic3[lang]%></li>
                        <li><%= m4topic4[lang]%></li>
                        <li><%= m4topic5[lang]%></li>
                    </ul>
                </div>
                <div class="pricingTable-signup">
                    <a href="/manual/webapp" target="_blank"><%- challenge[lang]%></a>
                </div>
            </div>
        </div>
    </div>
</div>